@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


/* GENERAL
------------------------------ */

body {
	font-family: 'Aniron', sans-serif;
	font-weight: 400; 
	color: #333333;
}

section {
	padding-top: 5%;
	padding-bottom: 5%;
}

img{
	margin: 15px;
}

.card{
	margin-top: 10px;	
}

#fellows{
	background-image:url(img/bg_light.png);
	background-repeat:repeat;
}


#reward{
	background-image: url(img/bg_dark.png);
	background-repeat: repeat;
}

#best_hunters{
	background-image:url(img/bg_light.png);
	background-repeat:repeat;
}

#the_ring{
	background-image:url(img/bg_dark.png);
	background-repeat:repeat;
}

#join_army{
	background-image:url(img/bg_light.png);
	background-repeat:repeat;
}

#contact_us{
	background-image:url(img/bg_dark.png);
	background-repeat:repeat;
}

hr{
	height: 4px;
	width: 100%;
	color: #ff5f01;
	background-color: #ff5f01;
	margin-top: 0px;
	margin-bottom: 0px;
}





/* TYPOGRAPHY
------------------------------ */
@font-face{
	font-family:'Aniron';
	src: url("fonts/anirm___.ttf");
}

@font-face{
	font-family:'Tengwar';
	src: url("fonts/tngani.ttf");
}

@font-face{
	font-family:'Party Business';
	src: url("fonts/partybusiness.ttf");
}


h1 {

}

h2 {
	font-family: 'Aniron', sans-serif;
	font-size: 1.6em;
	text-align:center;
	margin-bottom: 5%;
	
}

h3 {
	font-family: 'Party Business', sans-serif;
}

h4{
	font-family:'Aniron', sans-serif;
	font-size: 1em;
}

.ring{
	background-color: #666;
	margin-top: 1%;
	margin-bottom:1%;
}



p{
	font-family: 'Party Business', sans-serif;
	font-weight: 400; 
	color: #505050;
	
}

.useFAF::placeholder {
    font-family: "Font Awesome 5 Free" !important;
		font-weight:900;
		color:#999;
		font-size:0.7em
}

.p-ring{
	margin-left: 2.5%;
	margin-top: 2.5%;
	font-size: calc(0.7vw + 16px);
}

.carousel-text{
	font-size: 4em;
}

.carousel-p-texte {
	font-size: 2em;
	color: white;
}


.titre-decoration {
	font-family: 'Tengwar', sans-serif;
	font-size: 25px;
	color:#ff5f01;
}

li {
	list-style-type: none;
}



.img-logo{
	max-width: 200px;
	margin: 0px;
}

.navbar-button {
	background-color: transparent;
	border: solid 1px transparent;
	font-size: 14px;
	padding: 12px 22px;
	
}


.nav-menu {
	width: 100%;
	z-index: 1000;
	font-family: 'Aniron', sans-serif;
	font-size: 1em;
	color: white;
	border-left: 1px solid white;
	position: fixed;
	
}

.navbar-menu {
	background-color: #ff5f01;
	opacity: 1;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;	
}

.li-menu {
	font-family: 'Aniron', sans-serif;
	font-size: 1em;
	color: white;
	border-left: 1px solid white;
}


	

.img_carousel{
	margin:0 0;
	height: auto;
	width:100%;
	overflow:hidden;
}

.carousel-caption {
	top: 50%;
	transform: translateY(-50%);
	bottom: initial;
}


.nav-pills{
	font-family: 'Aniron', sans-serif;
	font-size: 0.9em;
	color: grey;
	background-color: transparent;
	margin-bottom: 4%;
}

.nav-link{
	color: grey;
	background-color: transparent;
}

.nav-pills .nav-link.active {
	color: #ff5f01;
	background-color: transparent;
	border-bottom: 4px solid #ff5f01;
	border-radius: Opx;
	

}

.card-fellows{
	background-color: black ;
	border: 2px solid black;
}

.card-text{
	font-size: calc(0.8vw + 16px);
	color: white;
}


.img_fellows {
	position:relative;
	opacity: 0.5;
	margin:0;
}

.gandalf_text {
	font-family: 'Party Business',sans-serif; 
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 4vw;
	color: white;
}

.gandalf_reward {
	font-family: 'Party Business',sans-serif; 
	position: absolute;
	top: 2%;
	left: 50%;
	transform: translate(-50%);
	border-radius: 15px;
	padding: 5px 20px;
	background-color: #ffffff;
	opacity: 0.7;
	text-align: center;
	font-size: 3vw;
	color: black;
}

.dead_text {
	font-family: 'Party Business',sans-serif; 
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 4vw;
	color: white;
	text-decoration: line-through;
	text-decoration-color: #ff5f01;
}

.dead_reward {
	font-family: 'Party Business',sans-serif; 
	position: absolute;
	top: 2%;
	left: 50%;
	transform: translate(-50%);
	border-radius: 15px;
	padding: 5px 20px;
	background-color: transparent;
	opacity: 0.7;
	text-align: center;
	font-size: 4vw;
	color: black;
	
}


/*---- Hover sur image ----*/

img:hover {
	opacity: 1;
}

.gandalf_image:hover .gandalf_reward {
	display: none;
}

.gandalf_image:hover .gandalf_text {
	font-size: 3vw;
	top: 60%;
}

.gandalf_image:hover .dead_reward {
	display: none;
}

.gandalf_image:hover .dead_text {
	font-size: 3vw;
	top: 60%;
}


/* Jumbotron */

.jumbotron{
	background-color: transparent;
	padding-bottom: 0;
}

.h2-reward{
	color: white;
}

.p-reward{
	color: white;
	font-size: calc(0.5vw + 14px);
}

.btn-reward{
	color: #ff5f01;
	background-color: white;
	border-radius: 0px;
	padding: 20px 40px;
	margin-top: 15%;
}


.card-header{
	color: white;
	background-color: #ff5f01;
}

.card-ring{
	border: none;
	background-color: rgba(255,255,255,0.9);
}



.table {
	width:95%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10%;
}

.table thead th{
	border-bottom: 2px solid black;
}

.table tbody td{
	color: grey;
}

.img_gollum{
	border-radius: 50%;
}

.p-gollum{
	font-size: calc(0.9vw + 20px);
	padding-left: 2.5%;
}

.img-army{
	max-width: 230px;
}

.p-army-info{
	color: #ff5f01;
	margin-bottom: 2%;
}

.army-button{
	font-size: calc(0.7vw +14px);
	border-radius: 0px;
	background-color: black;
	color: #ff5f01;
	padding: 10px 20px;
	box-shadow: 5px 5px 5px grey;
}


.form_layout{
	width: 95%
}

.contact-button{
	border-radius: 0px;
	background-color: #ff5f01;
	color: black;
	padding: 20px 40px;
	margin-top: 2%;
}

.img-map{
	max-width: 300px;
}



footer{
	background-color:#ff5f01;
}

.li-footer{
	font-family:'Aniron', sans-serif;
	color: white;
	font-size: calc(0.8vw + 12px);
	text-align:center;
	margin-top: 3%;
	line-height: 30px;
	
}

li .a-footer:link, .a-footer:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

li .a-footer:hover, .a-footer:active {
  color: black;
}


