@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


/* GENERAL
------------------------------ */

body {
	font-family: 'Aniron', sans-serif;
	font-weight: 400; 
	color: #333333;
}

section {
	padding-top: 5%;
	padding-bottom: 5%;
}

img{
	margin: 15px;
}

.card{
	margin-top: 10px;	
}

#fellows{
	background-image:url(img/bg_light.png);
	background-repeat:repeat;
}

del{
	color: #ff5f01;
}




/* TYPOGRAPHY
------------------------------ */
@font-face{
	font-family:'Aniron';
	src: url("fonts/anirm___.ttf");
}

@font-face{
	font-family:'Tengwar';
	src: url("fonts/tngani.ttf");
}

@font-face{
	font-family:'Party Business';
	src: url("fonts/partybusiness.ttf");
}


h1 {

}

h2 {
	font-family: 'Aniron', sans-serif;
	font-size: 1.6em;
	text-align:center;
	margin-bottom: 5%;
	
}

h3 {
	font-family: 'Party Business', sans-serif;
}

h4{
	font-family:'Aniron', sans-serif;
	font-size: 1em;
}

.ring{
	background-color: #666;
	margin-top: 1%;
	margin-bottom:1%;
}



p{
	font-family: 'Party Business', sans-serif;
	font-weight: 400; 
	color: #505050;
	
}

.useFAF::placeholder {
    font-family: "Font Awesome 5 Free" !important;
		font-weight:900;
		color:#999;
		font-size:0.7em
}

.p-ring{
	margin-left: 2.5%;
	margin-top: 2.5%;
}

.carousel-text{
	font-size: 4em;
}

.carousel-p-texte {
	font-size: 2em;
	color: white;
}


.titre-decoration {
	font-family: 'Tengwar', sans-serif;
	font-size: 25px;
	color:#ff5f01;
}

li {
	list-style-type: none;
}



.navbar-button {
	background-color: white;
	border: solid 1px transparent;
	font-size: 14px;
	padding: 12px 22px;
	
}


.nav-menu {
	width: 100%;
	z-index: 1000;
	font-family: 'Aniron', sans-serif;
	font-size: 1em;
	color: white;
	border-left: 1px solid white;
	
}

.navbar-menu {
	background-color: #ff5f01;
	opacity: 1;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;	
}

.li-menu {
	font-family: 'Aniron', sans-serif;
	font-size: 1em;
	color: white;
	border-left: 1px solid white;
}


	

.img_carousel{
	margin:0 0;
	height: auto;
	width:100%;
	overflow:hidden;
}

.carousel-caption {
	top: 50%;
	transform: translateY(-50%);
	bottom: initial;
}


.nav-pills{
	margin-bottom: 4%;
}

.card-fellows{
	background-color: black ;
	border: 2px solid black;
}


.img_fellows {
	position:relative;
	opacity: 0.5;
	margin:0;
}

.gandalf_text {
	font-family: 'Party Business',sans-serif; 
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 4vw;
	color: white;
}

.gandalf_reward {
	font-family: 'Party Business',sans-serif; 
	position: absolute;
	top: 2%;
	left: 50%;
	transform: translate(-50%);
	border-radius: 15px;
	padding: 5px 20px;
	background-color: #ffffff;
	opacity: 0.7;
	text-align: center;
	font-size: 3vw;
	color: black;
}


/*---- Hover sur image ----*/

img:hover {
	opacity: 1;
}

.gandalf_image:hover .gandalf_reward {
	display: none;
}

.gandalf_image:hover .gandalf_text {
	font-size: 3vw;
	top: 60%;
}



.table {
	width:95%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10%;
}

.img_gollum{
	border-radius: 50%;
}

.form_layout{
	width: 95%
}

btn{
	margin: 2%;
}

footer{
	margin-top: 5%;
	background-color:#999;
}

.li-footer{
	font-family:'Party Business', sans-serif;
	color: white;
	font-size: 0.7rem;
	text-align:center;
	
}


